<div id="{{ bunch.xid() }}" style="background-color: #DDDDDD; padding: 1%;">
<h1>{{ bunch.path }}</h1>
<ul>
{% autoescape false %}{% for child in bunch.children() %}<li>{{ child.name() }}</li>{% endfor %}{% endautoescape %}
</ul>
</div>
