<li id="{{ bunch.xid() }}" class="menu">
<a href="#">
{% if bunch.children_count() %}
<span class="abs toggle_arrow"></span>
{% endif %}
{{ bunch.name() }}
</a>
{% if bunch.children_count() %}
<ul>{% autoescape false %}{% for child in bunch.children() %}{{ child.render( template=template, level=level ) }}{% endfor %}{% endautoescape %}</ul>
{% endif %}
</li>
